@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.update-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins';
}

.update-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    font-family: 'Poppins';
}

.update-user-form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins';
}

.update-user-form input {
    width: calc(70% - 10px);
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-family: 'Poppins';
}